<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop wow bounceIn text-primary"></i>
                    <h3>No Load Websites</h3>
                    <p class="text-muted">We specialize in static-site generators. In other words, your site is fast. Really Fast.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Custom Domain</h3>
                    <p class="text-muted">Your website comes with it's own custom domain! This is included with all packages.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bank wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Don't Break the Bank</h3>
                    <p class="text-muted">We use frameworks that allow us to keep overhead low, prices lower, and quality at 100%. Websites available for as little as $400.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>
